projects/rms/conf/xsd/AgentService/AckHeartBeatResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import schemaLocation="types/CommonFaults.xsd"/>
	<xs:element name="AcknowledgeHeartBeatResponse" type="ackHeartBeatResponse"/>
	<xs:complexType name="ackHeartBeatResponse">
		<xs:sequence>
			<xs:element name="fault" type="commonFault" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
