projects/rms/conf/xsd/AgentService/AckHeartBeatRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >
	<xs:import schemaLocation="types/BasicTypes.xsd"/>
	<xs:import schemaLocation="types/AckHeartBeatData.xsd"/>
	<xs:element name="AcknowledgeHeartBeatRequest" type="ackHeartBeatRequest"/>
	<xs:complexType name="ackHeartBeatRequest">
		<xs:sequence>
			<xs:element name="id" type="id" minOccurs="1" maxOccurs="1"/>
			<xs:element name="acknowledgementData" type="AckHeartBeatData" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>