projects/rms/conf/xsd/AgentService/HeartBeatRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import schemaLocation="types/BasicTypes.xsd"/>
	<xs:import schemaLocation="types/AgentHeartBeatData.xsd"/>
	<xs:element name="HeartBeatRequest" type="heartBeatRequest"/>
	<xs:complexType name="heartBeatRequest">
		<xs:sequence>
			<xs:element name="agentId" type="id" minOccurs="1" maxOccurs="1"/>
            <xs:element name="tenantId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="heartbeat" type="AgentHeartbeatData" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>