projects/rms/conf/xsd/AgentService/HeartBeatResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import schemaLocation="types/CommonFaults.xsd"/>
	<xs:import schemaLocation="types/AgentUpdates.xsd"/>
	<xs:element name="HeartBeatResponse" type="heartBeatResponse"/>
	<xs:complexType name="heartBeatResponse">
		<xs:sequence>
			<xs:element name="AgentUpdates" type="AgentUpdates" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fault" type="commonFault" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
