projects/rms/conf/xsd/AgentService/RegisterAgentResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import schemaLocation="types/AgentStartupConfiguration.xsd"/>
	<xs:import schemaLocation="types/CommonFaults.xsd"/>
	<xs:element name="RegisterAgentResponse" type="registerAgentResponse"/>
	<xs:complexType name="registerAgentResponse">
		<xs:sequence>
			<xs:element name="StartupConfiguration" type="AgentStartupConfiguration" minOccurs="1" maxOccurs="1"/>
			<xs:element name="certificate" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fault" type="commonFault" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>