projects/rms/conf/xsd/AgentService/SendUserNotificationsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import schemaLocation="types/UserNotification.xsd"/>
	<xs:element name="SendUserNotificationsRequest" type="sendUserNotificationsRequest"/>
	<xs:complexType name="sendUserNotificationsRequest">
		<xs:sequence>
			<xs:element name="notificationBag" type="UserNotificationBag" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>