projects/rms/conf/unused/types/BasicFaults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	targetNamespace="http://bluejungle.com/destiny/framework/types" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:types="http://bluejungle.com/destiny/framework/types">

	<xs:complexType name="BadArgumentFault"/>
	<xs:complexType name="CommitFault"/>
	<xs:complexType name="ServiceNotReadyFault"/>
	<xs:complexType name="UnauthorizedCallerFault"/>
	<xs:complexType name="UnknownEntryFault"/>
	<xs:complexType name="UniqueConstraintViolationFault">
		<xs:sequence>
			<xs:element name="constrainingField" type="xs:string" minOccurs="1" 
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>