projects/rms/conf/xsd/AgentService/types/CommonFaults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="commonFault">
		<xs:sequence>
			<xs:element name="ErrorCode" type="xs:int"/>
			<xs:element name="ErrorMessage" type="xs:string"/>
        </xs:sequence>
	</xs:complexType>
</xs:schema>