projects/rms/conf/xsd/AgentService/types/nxpackage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- XML Schema Generated from XML Document on Fri Mar 20 2015 16:58:52 GMT+0800 (Malay Peninsula Standard Time) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:complexType name="POLICYBUNDLETYPE">
    <xs:sequence>
          <xs:element name="POLICYBUNDLE">
              <xs:complexType>
                  <xs:sequence>
                      <xs:element name="POLICYSET">
                          <xs:complexType>
                              <xs:sequence>
                                  <xs:element name="POLICY" minOccurs="0" maxOccurs="unbounded">
                                      <xs:complexType>
                                          <xs:sequence>
                                              <xs:element name="CONDITION" maxOccurs="unbounded" minOccurs="1" >
                                                  <xs:complexType>
                                                  	<xs:simpleContent>
                                                  		<xs:extension base="xs:string">
                                                        <xs:attribute name="type" type="xs:string"></xs:attribute>
                                                        <xs:attribute name="exclude" type="xs:boolean" default="false"></xs:attribute>
                                                  		</xs:extension>
                                                  	</xs:simpleContent>
                                                  </xs:complexType>
                                              </xs:element>
                                              <xs:element name="OBLIGATION" maxOccurs="unbounded" minOccurs="0">
                                                  <xs:complexType>
                                                      <xs:sequence>
                                                          <xs:element name="PARAM" maxOccurs="unbounded" minOccurs="0">
                                                              <xs:complexType>
                                                                  <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
                                                                  <xs:attribute name="value" type="xs:string" use="required"></xs:attribute>
                                                              </xs:complexType>
                                                          </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
                                                  </xs:complexType>
                                              </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="id" type="xs:long" use="required"></xs:attribute>
                                          <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
                                          <xs:attribute name="usergroup" type="xs:string"></xs:attribute>
                                          <xs:attribute name="rights" type="xs:string" use="required"></xs:attribute>
                                          <xs:attribute name="customrights" type="xs:unsignedLong"></xs:attribute>
                                      </xs:complexType>
                                  </xs:element>
                              </xs:sequence>
                          </xs:complexType>
                      </xs:element>
                      <xs:element name="USERGROUPMAP">
                          <xs:complexType>
                              <xs:sequence>
                                  <xs:element name="USERMAP" maxOccurs="unbounded" minOccurs="1">
                                      <xs:complexType>
                                          <xs:simpleContent>
                                            	<xs:extension base="xs:string">
                                                    <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
                                                    <xs:attribute name="tenantid" type="xs:string" use="required"></xs:attribute>
                                                    <xs:attribute name="context" type="xs:string" use="required"></xs:attribute>
                                                </xs:extension>
                                     	  </xs:simpleContent>
                                      </xs:complexType>
                                  </xs:element>
                              </xs:sequence>
                          </xs:complexType>
                      </xs:element>
                      <xs:element name="RIGHTSET">
                          <xs:complexType>
                              <xs:sequence>
                                  <xs:element name="RIGHT" maxOccurs="unbounded" minOccurs="1">
                                      <xs:complexType>
                                          <xs:attribute name="id" type="xs:int" use="required"></xs:attribute>
                                          <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
                                          <xs:attribute name="type" type="xs:string" default="builtin"></xs:attribute>
                                      </xs:complexType>
                                  </xs:element>
                              </xs:sequence>
                          </xs:complexType>
                      </xs:element>
                      <xs:element name="COMPONENTS">
                          <xs:complexType>
                              <xs:sequence>
                                  <xs:element name="APPLICATIONS">
                                      <xs:complexType>
                                          <xs:sequence>
                                              <xs:element name="APPLICATION" maxOccurs="unbounded" minOccurs="0">
                                                  <xs:complexType>
                                                      <xs:sequence>
                                                          <xs:element name="PROPERTY" maxOccurs="unbounded" minOccurs="0" type="PropertyType">
                                                          </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                  </xs:complexType>
                                              </xs:element>
                                          </xs:sequence>
                                      </xs:complexType>
                                  </xs:element>
                                  <xs:element name="USERS">
                                      <xs:complexType>
                                          <xs:sequence>
                                              <xs:element name="USER" maxOccurs="unbounded" minOccurs="0">
                                                  <xs:complexType>
                                                      <xs:sequence>
                                                          <xs:element name="PROPERTY" maxOccurs="unbounded" minOccurs="0" type="PropertyType">
                                                          </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                  </xs:complexType>
                                              </xs:element>
                                          </xs:sequence>
                                      </xs:complexType>
                                  </xs:element>
                                  <xs:element name="LOCATIONS">
                                      <xs:complexType>
                                          <xs:sequence>
                                              <xs:element name="LOCATION" maxOccurs="unbounded" minOccurs="0">
                                                  <xs:complexType>
                                                      <xs:sequence>
                                                          <xs:element name="PROPERTY" maxOccurs="unbounded" minOccurs="0" type="PropertyType">
                                                          </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                  </xs:complexType>
                                              </xs:element>
                                          </xs:sequence>
                                      </xs:complexType>
                                  </xs:element>
                                  <xs:element name="ENVS">
                                      <xs:complexType>
                                          <xs:sequence>
                                              <xs:element name="ENV" maxOccurs="unbounded" minOccurs="0">
                                                  <xs:complexType>
                                                      <xs:sequence>
                                                          <xs:element name="PROPERTY" maxOccurs="unbounded" minOccurs="0" type="PropertyType">
                                                          </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                  </xs:complexType>
                                              </xs:element>
                                          </xs:sequence>
                                      </xs:complexType>
                                  </xs:element>
                                  <xs:element name="RESOURCES">
                                      <xs:complexType>
                                          <xs:sequence>
                                              <xs:element name="RESOURCE" maxOccurs="unbounded" minOccurs="0">
                                                  <xs:complexType>
                                                      <xs:sequence>
                                                          <xs:element name="PROPERTY" maxOccurs="unbounded" minOccurs="0" type="PropertyType">
                                                          </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                  </xs:complexType>
                                              </xs:element>
                                          </xs:sequence>
                                      </xs:complexType>
                                  </xs:element>
                              </xs:sequence>
                          </xs:complexType>
                      </xs:element>
                  </xs:sequence>
                  <xs:attribute name="version" type="xs:string" use="required"></xs:attribute>
                  <xs:attribute name="timestamp" type="xs:dateTime" use="required"></xs:attribute>
              </xs:complexType>
          </xs:element>
      </xs:sequence>
      <xs:attribute name="issuer" type="xs:string" use="required"></xs:attribute>
      <xs:attribute name="issue-time" type="xs:dateTime" use="required"></xs:attribute>
      <xs:attribute name="data-type" type="xs:string"></xs:attribute>
	</xs:complexType>
	<xs:complexType name="PropertyType">
		<xs:attribute name="type" type="xs:string" default="0"></xs:attribute>
        <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
        <xs:attribute name="value" type="xs:string" use="required"></xs:attribute>
        <xs:attribute name="method" type="xs:string" default="EQ"></xs:attribute>
	</xs:complexType>
</xs:schema>
