projects/rms/conf/xsd/AgentService/types/SupportedCADFormats.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
            
    <xs:complexType name="SupportedCADFormatsType">
        <xs:sequence>
            <xs:element name="nonAssembly" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="assembly" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    
        
</xs:schema>